html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}


body {
  background-color: #FCFCFC;
  // font: $font-family;
}

.divider {
  display: block;
  margin: 10px 0;
  padding: 0 5px;
  border-top: solid 1px black;
}

.container {
  @include outer-container();
  background-color: #fff;
  font-family: inherit;
  overflow: auto;
  height: 100vh;
  position: relative;
}
.app {
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
}

.form {
    @include span-columns(4);
    @include shift(4);
    padding: 20px;
    text-align: left;

    label {
      color: $dark-gray
    }
}


.top-nav {
    overflow: hidden;
    background-color: $dark-gray;
    height: 50px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: right;
    }

    li {
      width: 100px;
      float: right;

    }

    li a {
      display: block;
      color: $dark-gray;
      text-align: right;
      padding: 10px 16px;
      text-decoration: none;
      color: $light-gray;
      font-weight: 400;
      font-size: .8em;
      transition: color 300ms ease-in;

      &:hover {
        color: #fff;
      }
    }
}

.menu-active {
    background-color: #999999;
    color: #000;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: $dark-gray;
  height: 10px;
  text-align: center;
  padding-top: 5px;
}